@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl font-extrabold;
}

h2 {
  @apply text-2xl font-bold;
}

.both-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.horizontal-center {
  margin: 0 auto;
}

.table-bordered {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #e2e8f0;
}
